//css grid, flex, media query
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

aside,
footer,
header,
main,
nav {
  // border: 1px black solid;
}

footer,
header {
  // text-align: center;
  // color: $bgNavy;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;


  .container {
    width: 100%;
    height: 100%;

    section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;

      &:nth-of-type(1) {
        background-color: #f1f1f1;
        color: rgb(38,38,38);
      }

      &:nth-of-type(2) {
        background-color: rgb(38,38,38);
        color: #FFFEF2;
      }

      h1 {
        font-size: 5em;
      }
    }
  }
}

#text{
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 9.5em;
  font-family: 'Poppins', sans-serif;
  line-height: 1em;
  letter-spacing: 2px;
  transform: rotate(-18deg) skew(28deg);
  // margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  text-shadow: 5px solid green;
  margin-bottom: 120px;
}

#text:before{
  content: attr(shadow);
  position: absolute;
  top: 50px;
  left: -50px;
  margin-right: 50px;
  margin-top: 10px;
  color: rgba(0,0,0,.3);
  text-shadow: none;
  filter: blur(8px);
  z-index: -1;

}

.title_holder{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f1f1f1;
  overflow: hidden;
}

.about_me {
  margin-right: 150px;
  margin-left: 150px;
  text-align: center;
  background: orange;
  height: 85vh;
}

#pHead{
  padding-bottom: 10px;
}

#p1 {
  padding: $textPadding;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
//SMALLER WINDOW
@media screen and (min-width: 641px) and (max-width: 900px) {
  .container {
    h1 {
      font-family: Helvetica;
      font-size: 5em;
      text-align: center;
    }

  }


  #text{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 7em;
    font-family: 'Poppins', sans-serif;
    line-height: 1em;
    letter-spacing: 2px;
    transform: rotate(-18deg) skew(28deg);
    // margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    text-shadow: 5px solid green;
    margin-bottom: 120px;
  }

  #text:before{
    content: attr(shadow);
    position: absolute;
    top: 50px;
    left: -50px;
    margin-right: 50px;
    margin-top: 10px;
    color: rgba(0,0,0,.3);
    text-shadow: none;
    filter: blur(8px);
    z-index: -1;

  }

  .title_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
    overflow: hidden;
  }
}
//SMALLEST WINDOWS
@media screen and (max-width: 640px) {
  .about_me {
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
  }

  #p1 {
    padding: $textPadding;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  h1 {
    font-family: Helvetica;
    font-size: 2em;
    text-align: center;
  }


  #text{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 3.5em;
    font-family: 'Poppins', sans-serif;
    line-height: 1em;
    letter-spacing: 2px;
    transform: rotate(-18deg) skew(28deg);
    // margin-left: 100px;
    margin-right: 30px;
    text-align: center;
    text-shadow: 5px solid green;
    margin-bottom: 120px;
  }

  #text:before{
    content: attr(shadow);
    position: absolute;
    top: 50px;
    left: -50px;
    margin-right: 50px;
    margin-top: 10px;
    color: rgba(0,0,0,.3);
    text-shadow: none;
    filter: blur(8px);
    z-index: -1;

  }

  .title_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
    overflow: hidden;
  }
}

//LARGER WINDOWS
@media screen and (min-width: 901px) {
  #p1 {
    padding: $textPadding;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }

  #text{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 10.5em;
    font-family: 'Poppins', sans-serif;
    line-height: 1em;
    letter-spacing: 2px;
    transform: rotate(-18deg) skew(28deg);
    // margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    text-shadow: 5px solid green;
    margin-bottom: 120px;
  }

  #text:before{
    content: attr(shadow);
    position: absolute;
    top: 50px;
    left: -50px;
    margin-right: 50px;
    margin-top: 10px;
    color: rgba(0,0,0,.3);
    text-shadow: none;
    filter: blur(8px);
    z-index: -1;

  }

  .title_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
    overflow: hidden;
  }
}
