//css grid, flex, media query
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,500;0,600;0,800;1,200;1,300;1,500;1,600;1,800&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

aside,
footer,
header,
main,
nav {
  // border: 1px black solid;
}

footer,
header {
  // text-align: center;
  // color: $bgNavy;
}

.container {}

#p1 {
  padding: $textPadding;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

#pHead {
  padding-bottom: 20px;
}

.iconHead {
  text-align: center;
  padding-bottom: 20px;
}

.material-icons-outlined {
  padding: 20px;
  font-size: 40px;
  /* Preferred icon size */
}

span:hover {
  color: $bgYellow;
}
//SMALLER WINDOW
@media screen and (min-width: 641px) and (max-width: 900px) {
  .container {
  }


}
//SMALLEST WINDOWS
@media screen and (max-width: 640px) {
  .container {
  }

  #p1 {
    padding: $textPadding;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

}
//LARGER WINDOWS
@media screen and (min-width: 901px) {
  #p1 {
    padding: $textPadding;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }
}
